<h1>Top ups?</h1>


<p>Hi and Hello , <%= current_user.name %></p>

	<% if credit = 0 %>
	<%= "Welcome to our topup services.
	Please topup before ordering any menu." %>
	<br/>
	<br/>
	<%= link_to "Topup!", new_topup_path, :class => 'btn' %>
	<% else %>
		<%= "Feel Free to add more topups" %>
	<br/>
	<br/>
	<%= link_to "Topup!", edit_topup_path, :class => 'btn' %>	
	<% end %>


