
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide"> 
		<div class="columns">
			<div class="two-third">
				<h1> Review Your Shopping <span>Cart</span> </h1>
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Picture</th>
						  <th>Quantity</th>
						  <th>Sub Total</th>
						</tr>
					</thead>

					<tbody>
						<% total = 0 %>
						<% @cart.cart_items.each do |cart_item|%>
						<% subtotal = cart_item.price * cart_item.quantity %>
						<% total += subtotal %>
						<tr>
							<td><%= cart_item.food.try(:name) %></td>					
							<td><%= image_tag cart_item.food.picture.url(:thumb) %></td>
							<td><%= cart_item.quantity %></td>
							<td><%= number_to_currency(subtotal, unit: "Rp.", format: "%u %n")  %></td>	
					</tr>
					</tbody>
				<% end %>
				</table>
				<%= form_tag orders_path, :method => :post do %>
				<table class="table">
					<thead>
						<tr>
							<th>Extra Information</th>
							<th>Total</th>
							<th></th>
					<tr>
						<td><%= text_area_tag :comment,"Type your comments Here" %></td>
						<td><h4> Total: <%= number_to_currency(total, unit: "Rp.", format: "%u %n") %> </h4></td>
						<td><%= submit_tag "Approve", class: "readmore" %></td>
					</tr>
					<% end %>
				</table>
			</div>
			<div class="one-third">
				<% @weekly.take(1).each do |food| %>								
					<h3><%= food.name %></h3>
					<span class="w-pet-border"></span>
					<a href="#" class="img-box-serv">
						<%= image_tag food.picture, :alt => "weekly Special" %>
					</a>
					<p><a href="#" class="black">
					  <%= food.info %>Lorem ipsum dolor sit amet,</a> consectetur adip isicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitatimco laboris nisi ut aliquip ex ea commodo conquat. Duis aute irure dolor in reprehenderit in voluptate veesse cillum dolore eu fugiat nullapariatur. Excepteur sint occaecat
					</p>
					<a href="#" class="readmore rightalign">Read More</a>
				<% end %>
			</div>  
		</div>
	</div>
</div>