<div id="content" class="clearfix">
  <div id="left-area" class="clearfix full-wide"> 

<h1>Order <span>List</span></h1>

<table class="table">
  <thead >
  	<tr>
 	<th>ID</th>
 	<th>Total</th>
  <th>User</th>
  <th>Menu</th>
  <th>Picture</th>
  <th>Quantity</th>
  <th>comments</th>
    </tr>
  </thead>
  <tbody>

		<% @orders.each do |order| %>
    <!-- dalam masalah loop..yang di loop tr nya -->
    		<tr>
    			<td><%= link_to order.id, order_path(order) %></td>
					<td>
					  <%= number_to_currency(order.ammount, unit: "Rp.", format: "%u %n") %>
					</td>
          <td>
            <%= order.user.name %>
          </td>
            <% order.order_items.each do |order_item| %>  
          <td>
            <%= order_item.food.name  %> 
          </td> 
          <td>
            <%= image_tag order_item.food.picture.url(:thumb)%>
          </td>
          <td>  
            <%= order_item.quantity %>
          </td>
          <% end %>
            <!-- untuk mendapatkan informasi masing2 element relasi yang jumlahnya banyak maka harus menggunakan proses looping/mapping untuk mengambil info dari model tersebut atau turunanya-->
          <td><%= order.comment %></td>

				</tr>
	</tbody>

<% end %>

</table>
</div>
</div>
