
<div id="content" class="clearfix">
	<div id="left-area" class="clearfix full-wide"> 
		<div class="columns">
			<div class="two-third">
				<h2 class="title">Recent <span>Recepies</span></h2>
				<p>If food is an experience for you, then you will find it at the Food Recipe</p>
				<table class="table">
				  <thead >
				  	<tr>
						 	<th>Name</th>
						 	<th>Picture</th>
						 	<th>Price</th>
						 	<th>Category</th>
						 	<th>Tags</th>
						 	<th>Purchase</th>
				    </tr>
			  </thead>
			  <tbody>
					<% @foods.each do |food| %>
			    <!-- dalam masalah loop..yang di loop tr nya -->
		    		<tr>
		    			<td><%= food.name %></td>
							<td><%= image_tag food.picture.url(:thumb) %></td>
							<td id="food">
							  <%= number_to_currency(food.price, unit: "Rp.", format: "%u %n") %>
							</td>
							<td><%= food.category.category %></td>
							<td><%= raw food.tag_list.map {|t| link_to t, tag_path(t)}.join(", ") %> </td>
							<td>    	
								<!-- instansi form harus di setiap satu <td> -->
								<% if food.quantity.to_i > 0 || food.unlimited # ! mempersingkat jawaban bolean untuk false , || untuk or %>
									<%= form_tag carts_path do  %>	
						   			<%= hidden_field_tag :food_id, food.id %> <!-- memindahkan value -->
						   			<%= number_field_tag :quantity, 1, :style => "width: 50px", :min => 0 %>
							 		 	<%= submit_tag 'Buy Now', :class => 'readmore' %>		
							  	<% end %>
							  <% else %>
							   Out of Stock
							  <% end %>
							</td>
						</tr>
					</tbody>
					<% end %>
				</table>
			<%= paginate @foods %>
			</div>
			<div class="one-third">
				<% @weekly.take(1).each do |food| %>								
					<h3><%= food.name %></h3>
					<span class="w-pet-border"></span>
					<a href="#" class="img-box-serv">
						<%= image_tag food.picture, :alt => "weekly Special" %>
					</a>
					<p><a href="#" class="black">
					  <%= food.info %>Lorem ipsum dolor sit amet,</a> consectetur adip isicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitatimco laboris nisi ut aliquip ex ea commodo conquat. Duis aute irure dolor in reprehenderit in voluptate veesse cillum dolore eu fugiat nullapariatur. Excepteur sint occaecat
					</p>
					<a href="#" class="readmore rightalign">Read More</a>
				<% end %>
			</div>
			<div class="one-third">
												<h3>Cooking Classes</h3>
												<span class="w-pet-border"></span>
												<a href="#" class="img-box-serv">
													<img src="images/services/services_1.jpg" alt="Services Image" />
												</a>
												<p><a href="#" class="black">Lorem ipsum dolor sit amet,</a> consectetur adip isicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitatimco laboris nisi ut aliquip ex ea commodo conquat. Duis aute irure dolor in reprehenderit in voluptate veesse cillum dolore eu fugiat nullapariatur. Excepteur sint occaecat</p>
												<a href="#" class="readmore rightalign">Read More</a>
			</div>                                   
			<div class="one-third">
												<h3>Cooking Classes</h3>
												<span class="w-pet-border"></span>
												<a href="#" class="img-box-serv">
													<img src="images/services/services_1.jpg" alt="Services Image" />
												</a>
												<p><a href="#" class="black">Lorem ipsum dolor sit amet,</a> consectetur adip isicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitatimco laboris nisi ut aliquip ex ea commodo conquat. Duis aute irure dolor in reprehenderit in voluptate veesse cillum dolore eu fugiat nullapariatur. Excepteur sint occaecat</p>
												<a href="#" class="readmore rightalign">Read More</a>
			</div>
			<div class="one-third">
												<h3>Cooking Classes</h3>
												<span class="w-pet-border"></span>
												<a href="#" class="img-box-serv">
													<img src="images/services/services_1.jpg" alt="Services Image" />
												</a>
												<p><a href="#" class="black">Lorem ipsum dolor sit amet,</a> consectetur adip isicing elit, sed do eiusmod tempor incididuntut labore et dolore magna aliqua. Ut enim minim veniam, quis nostrud exercitatimco laboris nisi ut aliquip ex ea commodo conquat. Duis aute irure dolor in reprehenderit in voluptate veesse cillum dolore eu fugiat nullapariatur. Excepteur sint occaecat</p>
												<a href="#" class="readmore rightalign">Read More</a>
			</div>
		</div>
	</div>         	
</div><!-- end of container div -->
	
     


		<!-- form_tag membuat form tanpa perlu ada object pembentuk -->
		<!-- form_for membuat form berdasarkan object pembentuk -->

		<!-- form_for @user do |f| salah satu contoh pembuatan form_for -->

		<!-- form_tag cart_path do salah satu contoh pembuatan form_tag dan tidak perlu pakai do terkadang -->

		<!-- selalu ditambahi dengan _tag dibelakang apapun field//tipe -->
		<!-- text_field_tag :name,"value"  <input name="name" type="text" "value="value">-->
		<!-- text_field_tag "user[name]", "value" <input name="user[name]" type="text" value="value"> -->
		<!-- form aksi POST PUT GET DELETE bisa diliat di rake routes -->
		<!-- kalo mengambil data memakai GET -->
		<!-- POST udah masih request , kalo PUT udah pasti update , kalo DELETE pasti destroy -->
		<!-- PUT butuh ID , GET pake ID jatuhnya show , Delete butuh ID -->
		<!-- REST ACTION - > Representational state transfer mempresentasikan keadaan yang mau di transfer-->