<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	
	<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame. Remove this if you use the .htaccess -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  
	<title>Domikado Restaurant</title>
	<%= stylesheet_link_tag "applications", :media => "all" %>
	  <%= javascript_include_tag "applications" %>
    
	<!-- Generate Favicon Using 1.http://tools.dynamicdrive.com/favicon/ OR 2.http://www.favicon.cc/ -->
	<link rel="shortcut icon" href="favicon.ico" />
		
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->


<!-- ============= HEADER STARTS HERE ============== -->
		<div id="header-wrapper">
				
		        <div id="header">
					<!-- WEBSITE LOGO -->
		            <a href="index.html"><%= image_tag "logo.png", :alt =>"Food Recipes", :class =>"logo" %></a>
		            
				</div><!-- end of header div -->
				
                <!-- NAVIGATION BAR STARTS HERE -->
		        <div id="nav-wrap">
						<div class="inn-nav clearfix">
		                		
		                        <!-- MAIN NAVIGATION STARTS HERE -->
								<ul class="nav">
										<li class="active"><a href="/index">Home</a></li>
										<!-- <li>
												<a href="#">Sliders</a>
												<ul>
														<li><a href="basic-slider.html">Basic Slider</a></li>
														<li><a href="index.html">Right Info Slider</a></li>
														<li><a href="nivo-slider.html">Nivo Slider</a></li>
														<li><a href="accordion-slider.html">Accordion Slider</a></li>
														<li><a href="thumb-slider.html">Thumbnail Slider</a></li>
												
												</ul>
										</li> -->
										<li><a href="/foods">Our Menu</a></li>
                                    <!--     <li>
												<a href="single-sb.html">Recipe Detail</a>
												<ul>
														<li><a href="single-sb.html">Variation One</a></li>
														<li><a href="single-full.html">Variation Two</a></li>
												</ul>
										</li> -->
<!-- 										<li><a href="services.html">Services</a></li>
										<li><a href="single.html">Single Post</a></li>										
                    <li><a href="features.html">Features</a> -->
                    <% if user_signed_in? %>
                			<li><li><%= link_to "Orders", "/orders" %></li></li>
              			<% end %>
											<!-- <ul>
												<li><a href="page.html">Full Width</a></li>
												<li><a href="faq.html">FAQ</a></li>
												<li><a href="features.html">Additional Features</a></li>												
											</ul> -->
										<!-- </li>	 -->									
										<li><a href="/contact_us">Contact Us</a></li>
								</ul><!-- end of nav ul -->
								<!-- MAIN NAVIGATION ENDS HERE -->
		                <div class="pull-right">
              <% if user_signed_in? %>

                <%= link_to "Sign out",  destroy_user_session_path, :method => :delete, :class => 'readmore', :style => "margin-top: 6px !important;" %>
                <%= link_to "Top Up",topups_path, :class => 'readmore', :style => "margin-top: 6px !important;" %>
              <% else %>
                <%= link_to "Login", new_user_session_path, :class => 'readmore', :style => "margin-top: 6px !important;"  %> 
                <%= link_to "Register", new_user_registration_path, :class => 'readmore', :style => "margin-top: 6px !important;" %>
              <% end %>
            </div>           
		                        <!-- SOCIAL NAVIGATION -->
             
<!-- 								<ul class="social-nav">
		                                <li class="twitter"><a href="#"></a></li>
		                                <li class="facebook"><a href="#"></a></li>
		                                <li class="flickr"><a href="#"></a></li>
		                                <li class="rss"><a href="#"></a></li>
								</ul><!end of social-nav ul --> 
	
						</div>
				</div><!-- end of nav-wrap -->
				<!-- NAVIGATION BAR ENDS HERE -->
		
				<span class="w-pet-border"></span>
		
		</div><!-- end of header-wrapper div -->

<!-- ============= HEADER ENDS HERE ============== -->


<!-- ============= CONTAINER STARTS HERE ============== -->
		
        <div id="container">
				
<div class="top-search clearfix">
					<h3 class="head-pet"><span>Recipe Search</span></h3>

					<%= form_tag(foods_path, :method => :get, :html => {:class => "form-inline"} ) do  %>
							<p>
									<%= text_field_tag :search, (params[:search]), :class => 'field' %> 
									<%= submit_tag "", :id => 's-submit', :name => "s_submit"%>
							</p>
					<% end %>
					<p class="statement"><span class="fireRed">Popular searches :</span>
						<% tag_cloud Food.tag_counts(:limit => 5, :order => "count desc"), %w[s m l] do |tag, css_class|%>
							<%= link_to tag.name, tag_path(tag.name), class: css_class %>
						<% end %>
					</p>
</div>

		        <!-- ============= CONTENT AREA STARTS HERE ============== -->

		   	  <%= bootstrap_flash %>
        	  <%= yield %>
	</div><!-- end of content div -->
		                
		        		<!-- CONTENT ENDS HERE -->

	</div>  
		<div class="w-pet-border"></div>
<!-- ============= CONTAINER AREA ENDS HERE ============== -->



<!-- ============= BOTTOM AREA STARTS HERE ============== -->
	    <div id="bottom-wrap">
		    	<ul id="bottom" class="clearfix">
			        	<li>
				            	<div class="about">
					                	<a href="index.html"><%= image_tag "footer-logo.png", :alt => "Footer Logo",  :class =>"footer-logo" %></a>
					                    <p>For every fine wine, there’s the perfect pairing of olives and cheese. Discover oodles of great tips and pairings in our idea center. For every fine wine, there’s the For every fine wine...</p>
					                    <a href="#" class="readmore">Read more About Us</a>
				                </div>
						</li>
						<li>
								<h2>Recent <span>Recipes</span></h2>
								<ul class="recent-posts">
										<li>
												<a href="#" class="img-box"><%= image_tag "tiny-images/tiny_16.jpg",:alt =>"Image" %></a>
												<h5><a href="#">The World's Best</a></h5>
												<p>Sandwich Recipes here once there will be chnace of going to go</p>
										</li>
										
										<li>
												<a href="#" class="img-box"><%= image_tag "tiny-images/tiny_17.jpg",:alt =>"Image" %></a>
												<h5><a href="#">The World's Best</a></h5>
												<p>Sandwich Recipes here once there will be chnace of going to go</p>
										</li>
								</ul>
						</li>
			            
			            <li>
								<h2>Twitter <span>Updates</span></h2>
								<ul id="twitter_update_list" class="twitter">
                                		<li>Unable to load tweets. Connection Problem</li>											
								</ul>
						</li>
			            
				</ul><!-- end of bottom div -->
	    </div><!-- end of bottom-wrap div -->
	    
<!-- ============= BOTTOM AREA ENDS HERE ============== -->


<!-- ============= FOOTER STARTS HERE ============== -->	
        
        <div id="footer-wrap">
				<div id="footer">
						<p class="copyright">Copyright © 2011, Food Recipes - A Premium HTML Template</p>
						<p class="dnd">Designed <a href="http://themedesigner.in/">Sunil Joshi</a> and Developed by <a href="http://960development.com/"> Domikado </a></p>
				</div><!-- end of footer div -->
		</div><!-- end of footer-wrapper div -->
        
<!-- ============= FOOTER STARTS HERE ============== -->
    

</body>
</html>